<header itemscope itemtype="https://schema.org/Blog" itemref="abstract_id content_id">

  <!-- META INFORMATION -->
  <span itemprop="keywords" style="display: none"><%=locals.article.articlebodyheader_id.keywords?.join(', ')%></span>

  <span itemprop="about genre" style="display: none"><%=locals.article.articlebodyheader_id.category%></span>

  
  <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
    <span itemprop="name"><%=process.env.DOMAIN_WITHOUT_PROTOCOL%></span>
    <link itemprop="email" rel="noopener nofollow" href="mailto:<%=process.env.BIDBLOCK_EMAIL%>"/>
    <!-- TODO !!! Ideally set to about us page /about-us -->
    <link itemprop="url" href="/"/>
  </span>

  <!-- BANNER -->
  <img itemprop="image" src="<%=locals.article.articleenclosureimage_id.path%>" alt="<%=locals.article.articleenclosureimage_id.banner_img_alt%>">
  
  <div>
    <h1 itemprop="name headline"><%=locals.article.h1%></h1>
    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
      <span itemprop="name"><%=locals.article.author_id.username%></span>
      <!-- TODO !!! Ideally set to about us page /author/< %-locals.article.author_id.username%>-->
      <link itemprop="url" rel="author" href="/"/>
    </span>

    <% const date = new Date(locals.article.publishedDate);%>

    <time itemprop="datePublished" datetime="<%= date.toISOString()%>">
      <%= date.toLocaleString('en-US', { timeZone: 'America/Toronto', dateStyle: 'short', timeStyle: 'short' }) %>
    </time>

  </div>
</header>



<!-- TODO !!! Retrieve sub Reddit /r/bidblock with image dashboards -->
<!-- TODO !!! Fix, when image update, update the profile image on the side menu also -->
<!-- TODO !!! Correct linked in posts with grammarly or delete -->
<!-- TODO !!! Correct web content with grammarly -->
<!-- TODO !!! Implement schemas when article 100% done rendering-->
<!-- TODO !!! Check if SEO shemas are loading correctly -->
<!-- TODO !!! Need to build the /contact page link -->
<!-- TODO !!! Spec out the bidblockcanada profile page on Reddit, include dashboards if possible -->
<!-- TODO !!! create 3 new sub reddit's -->
<!-- TODO !!! All instances where directly manipulating the DOM in react components need to be rewritten to manipulate the DOM THROUGH either ref or state. This is for best practice purposes Look at: /Users/Zouhir/Documents/MERN/Extras/Docs and this chat gpt chat for more info: https://chat.openai.com/share/45cc6117-259a-4572-b28e-975f4f929d34 check: /Users/Zouhir/Documents/MERN/Extras/Docs if deleted chat thread -->
