<!-- itemscope itemtype="https://schema.org/Blog" itemref="xxxx(resume_tag)_id article_id" -->
<header>

  <!-- META INFORMATION -->
  <!-- itemprop="keywords" -->
  <span style="display: none"><%=locals.article.articlebodyheader_id.keywords?.join(', ')%></span>

  <!-- itemprop="about genre" -->
  <span style="display: none"><%=locals.article.articlebodyheader_id.category%></span>
  <!-- itemprop="publisher" itemscope itemtype="https://schema.org/Organization" -->
  <span style="display: none">
    <!-- itemprop="name" -->
    <span>bidblock.ca</span>
    <!-- itemprop="email" -->
    <link rel="noopener nofollow" href="mailto:bidblockcanada@gmail.com"/>
    <!-- itemprop="url" -->
    <link href="https://bidblock.ca"/>
    <!-- ideally set to about us page -->
  </span>

  <!-- BANNER -->
  <!-- itemprop="image" -->
  
  <img src="/img/bidblock-article-enclosure-images/<%=locals.article.articleenclosureimage_id.image.name%>" alt="<%=locals.article.articlebodyheader_id.banner_img_alt%>">
  
  <div>
    <!-- itemprop="name headline" -->
    <h1><%=locals.article.h1%></h1>
    <!-- itemprop="author" itemscope itemtype="https://schema.org/Person" -->
    <span>
      <!-- itemprop="name" -->
      <span><%=locals.article.author_id.username%></span>
      <!-- itemprop="url" rel="author" -->
      <!-- TODO !!! Need to build this link /author/< %-locals.article.author_id.username%>-->
      <link href="/author/<%-locals.article.author_id.username%>"/>
    </span>

    <% const date = new Date(locals.article.publishedDate);%>

    <!-- itemprop="datePublished" datetime="< %= date.toISOString()%>" -->
    <time>
      <%= date.toLocaleString('en-US', { timeZone: 'America/Toronto', dateStyle: 'short', timeStyle: 'short' }) %>
    </time>

  </div>
</header>


<!-- TODO HERE !!!! fix on category my article picture menu render -->

<!-- TODO !!! Retrieve sub Reddit /r/bidblock with image dashboards -->
<!-- TODO !!! Fix, when image update, update the profile image on the side menu also -->
<!-- TODO !!! Correct linked in posts with grammarly or delete -->
<!-- TODO !!! Correct web content with grammarly -->
<!-- TODO !!! Implement schemas when article 100% done rendering-->
<!-- TODO !!! Check if shemas are loading correctly -->
<!-- TODO !!! Need to build the /contact page link -->
<!-- TODO !!! Spec out the bidblockcanada profile page on Reddit, include dashboards if possible -->
<!-- TODO !!! create 3 new sub reddit's -->