<main id="content_id">


<% for(let i = 0; i < locals.article.articlenesteddata_id.blocks.length; i++) { %>

  <% const block = JSON.parse(JSON.stringify(locals.article.articlenesteddata_id.blocks[i])); %>

    <% locals.currentIndex = i; %>

    <% if (block.type == locals.SECTION_TYPES.H2) { %>
      <%- include('bloc3-pieces/H2.ejs', {block: block}) %>

    <% } else if (block.type == locals.SECTION_TYPES.H3) { %>
      <%- include('bloc3-pieces/H3.ejs', {block: block}) %>

    <% } else if (block.type == locals.SECTION_TYPES.SUMMERNOTE) { %>
      <%- include('bloc3-pieces/SUMMERNOTE.ejs', {block: block}) %>

    <% } else if (block.type == locals.SECTION_TYPES.IMG) { %>
      <%- include('bloc3-pieces/IMG.ejs', {block: block}) %>

    <% } else if (block.type == locals.SECTION_TYPES.A) { %>
      <%- include('bloc3-pieces/A.ejs', {block: block}) %>
      
    <% } else if (block.type == locals.SECTION_TYPES.EMBED) { %>
      <%- include('bloc3-pieces/EMBED.ejs', {block: block}) %>
      
      
    <% } else if (block.type == locals.SECTION_TYPES.EMAIL) { %>
      <%- include('bloc3-pieces/EMAIL.ejs', {block: block}) %>
        
    <% } %>


  <% } %>

  <span>
    <!-- TODO !!! place author name link -->
    <a href="/">By <%=locals.article.author_id.username%></a>
  </span>
  


</main>

<!-- TODO !!!! Need to style the article blocs on the home page h1 tags -->


