<!-- itemscope itemtype="https://schema.org/Blog" itemref="xxxx(resume_tag)_id article_id" -->
<header>

  <!-- META INFORMATION -->
  <!-- itemprop="keywords" -->
  <span style="display: none"><%=locals.article.articlebodyheader_id.keywords?.join(', ')%></span>

  <!-- itemprop="about genre" -->
  <span style="display: none"><%=locals.article.articlebodyheader_id.category%></span>
  <!-- itemprop="publisher" itemscope itemtype="https://schema.org/Organization" -->
  <span style="display: none">
    <!-- itemprop="name" -->
    <span>bidblock.ca</span>
    <!-- itemprop="email" -->
    <link rel="noopener nofollow" href="mailto:bidblockcanada@gmail.com"/>
    <!-- itemprop="url" -->
    <link href="https://bidblock.ca"/>
    <!-- ideally set to about us page -->
  </span>

  <!-- BANNER -->
  <!-- itemprop="image" -->
  
  <img style="width: 100px; height: 100px" src="/img/bidblock-article-enclosure-images/<%=locals.article.articleenclosureimage_id.image.name%>" alt="<%=locals.article.articlebodyheader_id.banner_img_alt%>">
  
  <div>
    <!-- itemprop="name headline" -->
    <h1><%=locals.article.h1%></h1>
    <!-- itemprop="author" itemscope itemtype="https://schema.org/Person" -->
    <span>
      <!-- itemprop="name" -->
      <span><%=locals.author%></span>
      <!-- itemprop="url" rel="author" -->
      <link href="/author/<%-locals.author_username%>"/>
    </span>

    <% const date = new Date(locals.article.publishedDate);%>

    <!-- itemprop="datePublished" datetime="< %= date.toISOString()%>" -->
    <time>
      <%= date.toLocaleString('en-US', { timeZone: 'America/Toronto', dateStyle: 'short', timeStyle: 'short' }) %>
    </time>

  </div>
</header>


<!-- TODO !!!! HERE determine how the styles are loaded in earnanswers and replicate. delete image inline css and replace with proper way
Also, keep in mind to add missing author data
Also, test shemas are loading correctly -->

<!-- TODO !!! Simplify the copy right on the home banner: drop the fluff. dont welcome get straight to the point to keep things simple.
"Bitcoin only marketplace" be better? -->
