<script>
  // Kept just as references
  var userId = '<%= locals.userId  %>'
  var domain = '<%-locals.ENV.domain%>'
  let ENV = <%-JSON.stringify(locals.ENV)%>;
  // console.log("header script: ", userId, domain, window.location.href, ENV)
</script>



<div id='react-div'></div>
<div id="userId" style="display: none;"><%if(locals.userId){%><%=userId%><%}%></div>
<div id="currentUserEmail" style="display: none;"><%if(locals.currentUserEmail){%><%=currentUserEmail%><%}%></div>
<div id="userIdB" style="display: none;"><%if(locals.userIdB){%><%=userIdB%><%}%></div>
<div id="orderId" style="display: none;"><%if(locals.orderId){%><%=orderId%><%}%></div>
<div id="popup" style="display: none;"><%if(locals.popup){%><%=popup%><%}%></div>

<%if(locals.isPaypalScriptNeeded){%>
  <script src="https://www.paypal.com/sdk/js?client-id=<%-locals.ENV.paypal_client_id%>&vault=true&intent=subscription"></script>
<%}%>

<!-- V1 -->
<%if(locals.sessionUser){%>
  <script type='text/javascript'>
    let sessionUser =  <%-JSON.stringify(sessionUser)%>;
    // console.log(sessionUser) 
  </script>
<%}%>

<!-- Capable from server send data to determine what React base component to render: Either App.js or Databases.js -->
<script type="text/javascript" src="../dist/<%= JSX_to_load %>.js"></script>
