<!DOCTYPE html>
<html lang="<% if (locals.head && head == 2 && locals.article && locals.article.lang) { %><%= locals.article.lang %><% } else { %>en<% } %>">
<%- include("partials/set_JSX_to_load") %>

<% if(locals.head && head == 3) { %> 
  <!-- option 3: header -->  
  <%- include("partials/header-setup-locals/head3") %>
<% } else if (locals.head && head == 2) { %> 
  <!-- option 2: header -->  
  <%- include("partials/header-setup-locals/head2") %>
<% } else { %>
  <!-- option 1: header -->
  <%- include("partials/header-setup-locals/setup-locals") %>
  <%- include("partials/header-setup-locals/head1") %>
<% }%>
<%- include("partials/scripts/header-scripts.ejs") %>
<link rel="preload" href="/css/navbar.css"as="style" onload="this.onload=null;this.rel='stylesheet'">

<body>
  <!-- Navbar will adapt to whether logged in or not -->
  <!-- narbar -->
  <%if(navBars == "CLIENTS"){%>
    <%- include("partials/navigation/navbar-clients") %>
  <%}%>
  <%if(navBars == "OPERATORS"){%>
    <%- include("partials/navigation/navbar-operations") %>
  <%}%>
  <!-- Body either server-side renders one of the react applications App or Databases, or a Login or Register form -->
  <%- body %>

  <%- include("partials/scripts/footer-scripts.ejs") %>
</body>
</html>