<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%=locals.article.html_title%></title>
  

  <meta name="title" content="<%=locals.article.articleheadtag_id.meta_title%>">
  
  <meta name="description" content="<%-locals.article.articleheadtag_id.meta_description%>">

  <link rel="shortcut icon" href="/img/SVG/home/nav-icons/favicon.svg" type="image/svg">

  <!-- <link defer rel="stylesheet" href='/css/header.ejs.css'> -->

  <!-- Relative to the navigation styles -->
  <%- include("../../css/head-styles.ejs") %>

  <!-- BLOG styles -->
  <!-- Relative to the blog's container styles: article tag -->
  
  <%- include("../../css/blog/article-container.ejs") %>
  <%- include('../../css/blog/bloc1-header.ejs') %>

  <%- include('meta/nofollow_noindex.ejs') %>
  <link rel="canonical" href=<%=locals.article.articleheadtag_id.canonical%>>
</head>


<!-- Look into social media renders and add others needed, examples for facebook and twitter -->
<!-- view-source:https://blog.webdevsimplified.com/2023-05/responsive-images/ -->