<head>
  <!-- USED FOR /individual_article/:article_title -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%=locals.article.html_title%></title>
  <meta name="bidblock_data_head" content="2">
  
  <% const author = locals.article.author_id?.username? locals.article.author_id?.username: process.env.DOMAIN_WITHOUT_PROTOCOL; %>
  <meta name="author" content="<%=author%>">
  <meta name="classification" content="<%=locals.article.articlebodyheader_id.category%>">


  <meta name="title" content="<%=locals.article.articleheadtag_id.meta_title%>">
  
  <meta name="description" content="<%-locals.article.articleheadtag_id.meta_description%>">

  <link rel="shortcut icon" href="/img/SVG/home/nav-icons/favicon.svg" type="image/svg">

  <!-- <link defer rel="stylesheet" href='/css/header.ejs.css'> -->

  <!-- Relative to the navigation styles -->
  <%- include("../../css/head-styles.ejs") %>
  

  <link rel="canonical" href=<%=locals.article.articleheadtag_id.canonical%>>
  <%- include('meta/nofollow_noindex.ejs') %>


  <!-- CSS fonts from Google TODO !!! figure out better way to load -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">



  <!-- IF BLOG RUN THIS -->

  <!-- BLOG styles -->
  <!-- Relative to the blog's container styles: article tag -->
  <%- include("../../css/blog/article-container.ejs") %>
  <%- include('../../css/blog/bloc1-header.ejs') %>
  <%- include('../../css/blog/bloc2-abstract.ejs') %>
  <%- include('../../css/blog/bloc3-toc.ejs') %>
  <%- include('../../css/blog/bloc3-content.ejs') %>

  
  <!-- LOADED TO BUNDLE AND RENDER FOOTER -->
  <% if(process.env.ENVIRONMENT === 'production') { %>
    <script src="https://unpkg.com/react@16.6/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.6/umd/react-dom.production.min.js"></script>
  <% } else { %>
    <script src="https://unpkg.com/react@16.6/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.6/umd/react-dom.development.js"></script>
  <% } %>

  <script src="https://unpkg.com/@babel/polyfill@7/dist/polyfill.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>




  <!-- LOADING THE GOOGLE ANALYTICS -->
  <%- include("../../partials/header-setup-locals/meta/google-analytics.ejs") %>





</head>


<!-- TODO !! Look into social media renders and add others needed, examples for facebook and twitter -->
<!-- view-source:https://blog.webdevsimplified.com/2023-05/responsive-images/ -->



