
<div id="articlefooter">




  <article>
    <%- include('blog/bloc1-header.ejs') %>
    <%- include('blog/bloc2-abstract.ejs') %>

    <% if (locals.H2H3_blocks) { %>
      <%- include('blog/bloc3-toc.ejs') %>
    <% } %>

    <%- include('blog/bloc3-content.ejs') %>
    
  </article>

  <a id="sitemap" href="/sitemap/html-sitemap">Sitemap</a>

  
  <footer id='react-div'></footer>
</div>


<!-- LOADS JSX_to_load2 = 'EmailMarketingCollector'; into all <div class='react-div2'></div>-->
<% if (locals.article.articlenesteddata_id.content_structure.includes(locals.SECTION_TYPES.EMAIL)) { %>
  <script>
    
    // Defines the title and subtitles for the email blocks rendered on the email block react component loaded on <div class='react-div2'></div>
    <% for (let i = 0; i < locals.EMAIL_blocks.length; i++) { %>
      <% const titleKey = `EMAIL_title${i}`; %>
      <% const subtitleKey = `EMAIL_subtitle${i}`; %>
      <% const buttontextKey = `BUTTON_text${i}`; %>
      <% const resourcePathKey = `RESOURCE_path${i}`; %>

      let <%= titleKey %> = "<%- locals[titleKey] %>";
      console.log('------> ', "<%- locals[titleKey] %>")

      let <%= subtitleKey %> = "<%- locals[subtitleKey] %>";
      let <%= buttontextKey %> = "<%- locals[buttontextKey] %>";
      let <%= resourcePathKey %> = "<%- locals[resourcePathKey] %>";
    <% } %>
  </script>

  <script type="text/javascript" src="/dist/<%= JSX_to_load2 %>.js"></script>
<% } %> 


<!-- LOADS JSX_to_load = 'OnPageFooter'; into <footer id='react-div'></footer> -->
<script type="text/javascript" src="/dist/<%= JSX_to_load %>.js"></script>
